################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CaramelEngine
/CaramelEngine/.vs
/CaramelEngine/bin/Debug
/CaramelEngine/obj/Debug
